<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!--<h1 style="color: cyan">hello, {{get_name}}</h1><br>-->
    <!--
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>

</head>
<body>
<!--前面加上/使其url，login_action成为一级路径，后面加上/，post请求时需要-->
<!--
    <form action="/index/" method="post">{% csrf_token %}
        <p>
            Username:
            <input type="text" name="username" />
        </p>
        <p>
            Password:
            <input type="password" name="password" />
        </p>
        <input type="submit" value="Login" />
        <p style="color: red">{{error}}</p><br>
    </form>
-->
<div class="container" style="
    width: 400px;
    height: 300px;
">
    <form class="form-signin" action="/index/" method="post">{% csrf_token %}
        <div class="form-group">
            <h2 class="form-signin-heading" align="center">接口测试平台</h2>
        </div>
        <div class="form-group">
            <label for="input_username" class="sr-only">账号</label>
            <input type="text" class="form-control" id="input_username" name="username" placeholder="账号">
        </div>
        <div class="form-group">
            <label for="input_password" class="sr-only">密码</label>
            <input type="password" class="form-control" id="input_password" name="password" placeholder="密码">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> 记住密码
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
        </div>
        <p style="color: red">{{error}}</p><br>
    </form>
</div>
</body>
</html>